.t17-social-wall-loading {
  display: block;
  font-size: unit(10/13, em);
  line-height: unit(18/10, em);
  margin: 30px auto;
  max-width: unit(300/13, em);
  text-align: center;
  padding: 20px;

  svg {
    max-width: none;
    animation: t17-spin 1.8s linear infinite;
  }
}
.t17-social-wall-loading-icon-circle {
  fill: @loading-icon-circle;
}
.t17-social-wall-loading-icon-circle-bg {
  fill: @loading-icon-circle-bg;
  opacity: 0.15;
}
.t17-social-wall-loading-text {
  margin-bottom: 1em;
}
